<section id="faq" class="faq-minimal-section">
        <div class="faq-minimal-container">
            <h2>Preguntas Frecuentes</h2>
            
            <details class="faq-line-item" name="faq-accordion">
                <summary>
                    ¿Quiénes pueden cursar Didáctica B?
                    <span class="faq-icon"><i class="fa-solid fa-plus"></i></span>
                </summary>
                <div class="faq-answer">
                    <p>Estudiantes de las carreras de Profesorado en Diseño en Comunicación Visual, Profesorado en Diseño Industrial y Profesorado en Diseño Multimedial de 5.º año que hayan acreditado las materias correlativas de acuerdo con su plan de estudios vigente. Sugerimos visitar la <a href="https://fba.unlp.edu.ar/departamentos/" target="_blank">web del departamento de cada carrera</a> para más información. Además, recordar que la materia en sí pertenece al <a href="https://www2.fba.unlp.edu.ar/estudioshys/" target="_blank">Departamento de Estudios Históricos y Sociales</a>.</p>
                </div>
            </details>

            <details class="faq-line-item" name="faq-accordion">
                <summary>
                    ¿Cuál es el día, horario y aula en que se cursa la materia?
                    <span class="faq-icon"><i class="fa-solid fa-plus"></i></span>
                </summary>
                <div class="faq-answer">
                    <p>La materia se cursa los días miércoles de 14 a 17 horas. La carga horaria es de tres (3) horas de cursada semanales obligatorias más la instancia de prácticas en instituciones educativas (carga horaria adicional). La cursada se realiza en el aula 104 de la <a href="https://maps.app.goo.gl/BLY5DdTzPs691Tke8" target="_blank">Sede Fonseca</a>.</p>
                </div>
            </details>

            <details class="faq-line-item" name="faq-accordion">
                <summary>
                    ¿Teóricos y prácticos son en el mismo día y horario?
                    <span class="faq-icon"><i class="fa-solid fa-plus"></i></span>
                </summary>
                <div class="faq-answer">
                    <p>La propuesta pretende articular los marcos teóricos con la práctica, a través de concebir la enseñanza como un espacio integral que atienda los contenidos de la disciplina y la profesionalización de lxs estudiantes en su formación inicial. Es por ello que no posee espacios de teoría y práctica disociados, sino un bloque único.</p>
                </div>
            </details>

            <details class="faq-line-item" name="faq-accordion">
                <summary>
                    Integrantes del equipo docente
                    <span class="faq-icon"><i class="fa-solid fa-plus"></i></span>
                </summary>
                <div class="faq-answer">
                    <ul class="docentes-minimal-list">
                        <li><strong>Leopoldo Dameno.</strong> Profesor Titular.</li>
                        <li><strong>Lorena Vergani.</strong> Profesora Adjunta.</li>
                        <li><strong>Marcela Etchadoy.</strong> Jefa de Trabajos Prácticos.</li>
                        <li><strong>Natalia Roche.</strong> Jefa de Trabajos Prácticos.</li>
                        <li><strong>Rodrigo Cañas.</strong> Ayudante diplomado.</li>
                    </ul>
                </div>
            </details>

            <details class="faq-line-item" name="faq-accordion">
                <summary>
                    Necesito ponerme en contacto con la cátedra
                    <span class="faq-icon"><i class="fa-solid fa-plus"></i></span>
                </summary>
                <div class="faq-answer">
                    <p>Nuestra vía de contacto más directa es el correo electrónico. Escribinos a <strong>didacticafda@gmail.com</strong>. Respondemos todos los e-mails a medida que nos sea posible. Agradecemos paciencia en este aspecto.</p>
                </div>
            </details>
        </div>
    </section>