<section id="memoria" class="memoria-section">
        <div class="memoria-container">
            <picture>
                <source srcset="img/banner_dm.svg" media="(prefers-color-scheme: dark)">
                <img src="img/banner_lm.svg" alt="Banner Conmemorativo: Memoria, Verdad y Justicia" class="memoria-banner">
            </picture>
            
            <p class="memoria-text">
                <strong>A 50 años del Golpe</strong><br>
                Educación Pública y Democracia, siempre
            </p>
        </div>
    </section>