<nav class="navbar">
        <!-- 1. Íconos a la izquierda -->
        <div class="nav-icons-left">
            <a href="#faq" title="FAQ"><i class="fa-solid fa-circle-question"></i></a>
            <a href="mailto:didacticafda@gmail.com" title="Contacto"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.google.com/maps/place/Facultad+de+Artes+-+Sede+Fonseca/@-34.9251122,-57.9417513,15z/data=!4m2!3m1!1s0x0:0xd84b5a49814dab4e?sa=X&ved=1t:2428&ictx=111" target="_blank" title="Sede Fonseca"><i class="fa-solid fa-location-dot"></i></a>
        </div>
        
        <!-- 2. Logo en el centro -->
        <div class="nav-logo">
            <picture>
                <source srcset="img/logodark.svg" media="(prefers-color-scheme: dark)">
                <img src="img/logod.svg" alt="Logo Didáctica" onerror="this.parentElement.style.display='none'; this.parentElement.nextElementSibling.style.display='block';">
            </picture>
            <span style="display:none; font-weight: 600; color: var(--acento);">Didáctica B</span>
        </div>
        
        <!-- 3. Botón a la derecha -->
        <div class="nav-button-right">
            <a href="index.html#vinculos" class="btn-vinculos">
                <span class="btn-text">Vínculos</span>
                <i class="fa-solid fa-link btn-icon"></i>
            </a>
        </div>
    </nav>